@import "breakpoint";
@import "normalize";

@import "lab-ui/_mixins.scss";
@import "_mixins.scss";

@import "lab-ui/_variables.scss";
@import "_variables.scss";

@import "lab-ui/_defaults.scss";
@import "_defaults.scss";

@import "lab-ui/_animations.scss";
@import "_animations.scss";

@include normalize();

#svgSprite{
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
}

@import "lab-ui/_icon.scss";
@import "lab-ui/_modal.scss";
@import "lab-ui/_button.scss";
@import "lab-ui/_form.scss";
@import "lab-ui/_typography.scss";
@import "lab-ui/_radioCheck.scss";
@import "lab-ui/_utilities.scss";

/* uncss:ignore start */

@import "components/_modal.scss";
@import "components/_character.scss";
@import "components/_obstacle.scss";
@import "components/_form.scss";
@import "components/_background.scss";
@import "components/_score.scss";
@import "components/_table.scss";
@import "components/_utilities.scss";

/* uncss:ignore end */

html, body, main, .background{
	width: 100%;
	height: 100%;
}

html, body{
	overflow: hidden;
	position: relative;
}

*{
	user-select: none;
	touch-action: manipulation;
}

.modal *{
	user-select: auto;
	touch-action: auto;
}