@import "breakpoint";
@import "normalize";

@import "lab-ui/_mixins.scss";
@import "_mixins.scss";

@import "lab-ui/_variables.scss";
@import "_variables.scss";

@import "lab-ui/_defaults.scss";
@import "_defaults.scss";

@import "lab-ui/_animations.scss";
@import "_animations.scss";

@include normalize();

#svgSprite{
	position: absolute;
	width: 0;
	height: 0;
	z-index: -1;
}