.form{
	margin-top: $spacing;

	input[type="text"], input[type="email"], .checkbox__label{
		opacity: 0.5;
	}

	button{
		width: calc(50% - #{$spacing});
		opacity: 0.5;

		span{
			display: block;
		}
	}

	&.active{
		button, input[type="text"], input[type="email"], .checkbox__label{
			opacity: 1;
		}
	}
}

.form__button{
	position: absolute;
	bottom: $spacing;
	left: $spacing;
	width: calc(50% - #{$spacing});
}

.form__group{
	&.active > input{
		border-color: red;
	}
}