.obstacle{
	width: 27.5%;
	position: absolute;
}

.obstacle--top{
	top: 0;
	transform: rotate(180deg);
}

.obstacle--bottom{
	bottom: 0;
}

.obstacle__icon{
	width: 100%;
	min-width: 100%;
	padding-bottom: 280%;
}