.table{
	margin: $spacing;
	box-sizing: border-box;
	border-spacing: 0;
	text-align: center;

	td{
		min-width: 50%;
	}

	tr:nth-child(odd){
		background-color: rgba(0, 0, 0, 0.1);
	}

	tr:nth-child(1){
		font-weight: bold;
		background-color: #4374B9;
		color: white;
		font-size: 1.25em;
	}

	td:nth-child(2), td:nth-child(3){
		width: 50%;
	}

	td:nth-child(2){
		text-align: left;
	}

	td:nth-child(1){
		font-weight: bold;
	}

	td{
		padding: $spacing * 0.75;
		transition: all $animDuration;
	}
}

.labD3__new{
	color: green;
	font-size: 1.5em;
}

.labD3__updated, .labD3__updated + td, .labD3__updated + td + td{
	color: #FC565F;
	font-size: 1.5em;
}